
<div class="span3">
	<ul class="nav nav-list">
		<li class="nav-header">
			<h2>他和她的日记</h2>
		</li>
		<li >
			<%=link_to "说说首页",shuoshuos_path%>
		</li>
		<li >
		<a href="#">他想说</a>
		</li>
		<li>
		<a href="#">她想说</a>
		</li>
		
		<li class="nav-header">
			<h2>一路照片记忆</h2>
		</li>
		<li>
			<%=link_to "一起的时光",pictures_path%>
		</li>
		<li>
			<a href="#">想他了</a>
		</li>
		<li>
			<a href="#">想她了</a>
		</li>
		<li class="divider">
		</li>
		
		<li class="nav-header">
			<h2>视频记录点滴</h2>
		</li>
		<li>
			<a href="#">送给她</a>
		</li>
		<li>
			<a href="#">送给他</a>
		</li>
		<li class="divider">
		</li>
		
		<li class="nav-header">
			<h2>日志学习记录</h2>
		</li>
		<li>
			<a href="#">他的宝贝</a>
		</li>
		<li>
			<a href="#">她的宝贝</a>
		</li>
		<li class="divider">
		</li>
	</ul>
</div>