<div class="span8 ">
	<div class="carousel slide" id="carousel-106622">
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#carousel-106622">
			</li>
			<li data-slide-to="1" data-target="#carousel-106622">
			</li>
			<li data-slide-to="2" data-target="#carousel-106622">
			</li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<%=image_tag "pic_wall1.jpg",size:"800x450"%>
				<div class="carousel-caption">
					<h4>
						送你一个心星的蛋糕
					</h4>
					<p style="font-size:18px">
						这是我小妹在她生日时候，我们大家吃的，嘿嘿，不知道你明天吃不吃蛋糕，但肯定没有我的份儿，以后一定要陪你一起过生日!
					</p>
				</div>
			</div>
			<div class="item">
				<%=image_tag "pic_wall2.jpg",size:"800x450"%>
				<div class="carousel-caption">
					<h4>
						这也算是咱俩的合影啦
					</h4>
					<p style="font-size:18px">
						嘿嘿，说着说着有点儿酸酸的感觉，祝你生日快乐吧！
					</p>
				</div>
			</div>
			<div class="item">
				<%=image_tag "pic_wall3.jpg",size:"800x450"%>
				<div class="carousel-caption">
					<h4>
						好想和你一起打篮球啊
					</h4>
					<p style="font-size:18px">
						桃子同学，你要快快练球技哦，我等着和你单挑呢，哈哈
					</p>
				</div>
			</div>
		</div> <a data-slide="prev" href="#carousel-106622" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-106622" class="right carousel-control">›</a>
	</div>
</div>