<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span2">
				<%=image_tag"logo.png"%>
			</div>
			<div class="span6">
				<div class="page-header" >
					<h1>
						飞桃窝<small>这里是飞桃专属空间</small>
						 <embed src="<%= asset_path('1.mp3') %>"height=70 width=300 loop=true
  		controls=playbutton title="青春纪念册"  align=center sytle="float:left"></embed>
					</h1>
					
				</div>
			</div>
			<div class="span4">
			</div>
		</div>
	</div>
</div>