<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span2">
				<%=image_tag"logo.png"%>
			</div>
			<div class="span6">
				<div class="page-header">
					<h1>
						飞桃窝<small>这里是飞桃专属空间</small>
				
					</h1>
					
				</div>
			</div>
			<div class="span4">
			</div>
		</div>
	</div>
</div>