<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="container-fluid">
				
			<%=render "top"%>
			<%=render "left_border"%>
			<%=render "pic_wall"%>
			</div>
			<%=render "bottom"%>
			<img  width="120" height="120" src="http://1.gravatar.com/avatar/fc2c9b067f65c9e2d7057ba797f7cfca?s=120&d=%3Cpath_to_url%3E&r=G" alt=""></img>		
		</div>
	</div>
</div>